.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color:  #121212; 
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For modern browsers */
::-webkit-scrollbar {
  width: 10px;              /* width of vertical scrollbar */
  height: 10px;             /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e;      /* dark background */
}

::-webkit-scrollbar-thumb {
  background-color: #555;   /* thumb color */
  border-radius: 10px;      /* round edges */
  border: 2px solid #1e1e1e; /* space between track & thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;   /* lighter on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;          /* auto | thin */
  scrollbar-color: #555 #1e1e1e;  /* thumb | track */
}

